<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <!-- Include CSS and other assets -->
</head>
<body>
  {{> header}}

  {{body}}

  {{> footer}}

  <!-- Include scripts -->
</body>
</html>