<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <script src="/public/javascript/main.js"></script>
</head>
<body>
    {{> partials/header}}
    
    <div class="content">
        {{{body}}}
    </div>
    
    {{> partials/footer}}
</body>
</html>