<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    {{> partials/header}}
    
    <div class="content">
        {{{body}}}
    </div>
    
    {{> partials/footer}}
</body>
</html>
