 <div class="menu-container">
      <div class="card-header col-md-10"  style="display: flex; justify-content: center;align-items: center;">
        <button >Login</button>
      </div>
      <div class="card-header col-md-10"  style="display: flex; justify-content: center;align-items: center;">
        <button style="">Register</button>
      </div>
      <div  style="display: flex; justify-content: center;align-items: center;">
        <img src="../assets/images/buff-man.jpg" alt="buff-man-icon" >
      </div>
 </div>