{{!< layouts/main}}
{{#*inline "body"}}
    <h1>Your Workout Routine for {{formattedDate}}</h1>
    <ul>
        {{#each workoutRoutines}}
            <li>
                <h3>{{this.workoutName}}</h3>
                <p>Repetitions: {{this.repetitions}}</p>
                <p>Sets: {{this.sets}}</p>
            </li>
        {{/each}}
    </ul>
{{/inline}}
