{{> header}}

<main>
    {{#if loggedIn}}
    <h2>Your Workout Routine</h2>
    <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Repetitions</th>
                <th>Sets</th>
            </tr>
        </thead>
        <tbody>
            {{#each workouts}}
            <tr>
                <td>{{this.exercise}}</td>
                <td>{{this.repetitions}}</td>
                <td>{{this.sets}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    Please log in at <a href="/login">our login page.</a>
    {{/if}}
</main>

{{> footer}}
