 <div class="menu-container">
      <div class="card-header col-md-10"  style="display: flex; justify-content: center;align-items: center;">
        <button >Login</button>
      </div>
      <div class="card-header col-md-10"  style="display: flex; justify-content: center;align-items: center;">
        <button style="">Register</button>
      </div>
      <div  style="display: flex; justify-content: center;align-items: center;">
        <img src="./images/buff-man.jpg" alt="buff-man-icon" >
      </div>

      {{!-- add form  --}}

      {{!-- include button link for signup, have it take them to signup form --}}
 </div>